<%= @bookmark_list %>

<h1>Would you like to add a bookmark</h1>
<form action=/add_bookmark method="post">
  <input type="text" name="new_bookmark" placeholder="Enter bookmark">
  <input type="submit" name="" value="Submit">
</form>
